on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: ["master"]

concurrency:
  group: run-tests

jobs:
  russell-tests:
    runs-on: [self-hosted, linux, x64]

    permissions:
      contents: read
      packages: read

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: 'Set up Docker'
        uses: ./.github/actions/with-docker
        with:
          container-name: kevm-ci-concrete-${{ github.sha }}

      - name: 'Run the tests on set.mm theorem base'
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 30
          # Attempts are done because CI sometimes fail due to external reasons,
          # and instead of just failing, we may give tests a second chance.
          max_attempts: 2
          retry_on: error
          command: |
            docker exec \
              -u test-user \
              --workdir /app/math \
              kevm-ci-concrete-${{ github.sha }} \
              /bin/bash -c 'russellj mm2ru2mm set'

